@page "/{informationboardID:int}"
@using VisitorApplication.Shared
@inject HttpClient Http

@if (informationboardList == null)
{
    <h1>Loading...</h1>
}
else
{
    foreach (var informationboard in informationboardList)
    {
        if (informationboardID == informationboard.InformationboardID)
        {
            <head>
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
                <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css">
            </head>

            <section class="col-12 text-white">
                <p class="display-5 text-center mt-2" id="licenseName">@informationboard.Title</p>
                <p class="text-center text-capitalize mt-0">En digital informationstavle</p>
            </section>

            <section class="wrapper container">
                <div id="categories" class="row justify-content-center text-center">
                    @if (categoryList == null)
                    {
                        <p>Loading..</p>
                    }
                    else
                    {
                        foreach (var category in categoryList)
                        {
                            if (informationboardID == category.InformationBoardId)
                            {
                                <a class="btn btn-outline-light square col-5 m-1 d-flex align-items-center border-2" href="@($"/{category.InformationBoardId}/{category.CategoryId}")">
                                    <div class="mx-auto">
                                        <i class="bi bi-newspaper"></i>
                                        <h2>@category.Title</h2>
                                    </div>
                                </a>
                            }

                        }



                    }


                    <h1>Informationboard table contains:</h1>
                    foreach (var informationboard in informationboardList)


                    <h3>@informationboard.Title</h3>



                </div>

            </section>
        }

    }
}




@code
{
    Informationboard[] informationboardList;
    Category[] categoryList;

    protected async override Task OnInitializedAsync()
    {
        informationboardList = await Http.GetFromJsonAsync<Informationboard[]>("api/Informationboard/InformationboardList");
        categoryList = await Http.GetFromJsonAsync<Category[]>("api/Category/CategoryList");
    }

    [Parameter]
    public int informationboardID { get; set; }
    [Parameter]
    public int categoryID { get; set; }

}
