<div class="float-end">
    <button class="btn ms-1 p-0"><i class="bi bi-pencil"></i></button>
    <button class="btn ms-1 p-0"><i class="bi bi-eye-fill"></i></button>
    <button class="btn ms-1 p-0"><i class="bi bi-qr-code"></i></button>
    <button class="btn ms-1 p-0"><i class="bi bi-bar-chart"></i></button>
</div>
                
@code {

}
