@page "/categoryoverview"
<section class="row">
    <div class="col-3 mt-1 border">
        <h2 class="text-center">talDigital Kontrolpanel</h2>
    </div>
    <div class="col-7 mt-1 border">
        <h1 class="display-2">Sohngaardsholmparken</h1>
    </div>
    <div class="col-2 mt-1 border">
        <a class="btn btn-primary float-end" href="#" role="button"><i class="bi bi-box-arrow-right"></i> Logout</a>
        <a class="btn btn-primary float-end" href="#" role="button"><i class="bi bi-person-fill"></i> Profil</a>
        <a class="btn btn-primary float-end" href="#" role="button"><i class="bi bi-question-circle"></i> Hjælp</a>
    </div>
    <div class="col-3">
    
    </div>
    <div class="col-9 border">
        <nav class="nav nav-pills flex-column flex-sm-row hoverable hover">
            <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="#">talDigital</a>
            <a class="flex-sm-fill text-sm-center nav-link" href="#">Nyheder</a>
            <a class="flex-sm-fill text-sm-center nav-link" href="#">Dyr</a>
            <a class="flex-sm-fill text-sm-center nav-link" href="#">Planter</a>
            <a class="flex-sm-fill text-sm-center nav-link" href="#">Begivenheder</a>
            <a class="flex-sm-fill text-sm-center nav-link" href="#">Information</a>
            <a class="btn btn-primary" href="#" role="button"><i class="bi bi-plus-circle"></i> Ny kategori</a>
            <a class="btn btn-primary" href="#" role="button"><i class="bi bi-pencil"></i> Rediger kategorier</a>
        </nav>
    </div>
</section>
@code {

}
