@using ManagementPages.Functions

<ManagementPages.UI.Components.Modals.Help @ref="Help"></ManagementPages.UI.Components.Modals.Help>
<ManagementPages.UI.Components.Modals.Profile @ref="Profile"></ManagementPages.UI.Components.Modals.Profile>
<ManagementPages.UI.Components.Modals.NewCategory @ref="NewCategory" InformationBoard="@InformationBoard"></ManagementPages.UI.Components.Modals.NewCategory>
<ManagementPages.UI.Components.Modals.EditCategories @ref="EditCategories"></ManagementPages.UI.Components.Modals.EditCategories>

<section class="row col-12">
    <div class="col-3 mt-1 border">
        <h2 class="text-center">talDigital Kontrolpanel</h2>
        <h5 class="text-center">Aalborg Kommune</h5>
    </div>
    <div class="col-7 mt-1 border">
        <h1 class="display-2">Sohngaardsholmparken</h1>
    </div>
    <div class="col-2 mt-1 border">
        <a class="btn btn-primary float-end" href="#" role="button"><i class="bi bi-box-arrow-right"></i> Logout</a>
        <button @onclick="() => Profile.Open()" class="btn btn-primary float-end"><i class="bi bi-person-fill"></i> Profil</button>
        <button @onclick="() => Help.Open()" class="btn btn-primary float-end"><i class="bi bi-question-circle"></i> Hjælp</button>
    </div>
    <div class="col-3">
    
    </div>
    <div class="col-9 border">
        <nav class="nav nav-pills flex-column flex-sm-row hoverable hover">
            @foreach (var category in InformationBoard.Categories)
            {
                if (category == InformationBoard.SelectedCategory)
                {
                    <button @onclick="() => OnCategoryClicked.InvokeAsync(category)" class="btn btn-primary">
                        <i class="bi bi-pencil" />
                        @category.CategoryModel.Title
                    </button>
                }
                else
                {
                    <button @onclick="() => OnCategoryClicked.InvokeAsync(category)" class="btn btn-primary">
                        @category.CategoryModel.Title
                    </button>
                }
            }
            <button @onclick="() => NewCategory.Open()" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Ny kategori</button>
            <button @onclick="() => EditCategories.Open()" class="btn btn-primary"><i class="bi bi-pencil"></i> Rediger kategorier</button>
        </nav>
    </div>
</section>

@code {
    [Parameter]
    public IInformationBoardViewModel InformationBoard { get; set; }

    [Parameter]
    public EventCallback<ICategoryViewModel> OnCategoryClicked { get; set; }

    private ManagementPages.UI.Components.Modals.Help Help { get; set; }
    private ManagementPages.UI.Components.Modals.Profile Profile { get; set; }
    private ManagementPages.UI.Components.Modals.NewCategory NewCategory { get; set; }
    private ManagementPages.UI.Components.Modals.EditCategories EditCategories { get; set; }
}
