@using ManagementPages.Functions
@using ManagementPages.UI.Components.Modals
<ManagementPages.UI.Components.Modals.Help @ref="Help"/>
<ManagementPages.UI.Components.Modals.Profile @ref="Profile"/>
<ManagementPages.UI.Components.Modals.NewCategory @ref="NewCategory" InformationBoard="@InformationBoard" OnChangesMade="OnChangesMadeInChildComponent"/>
<ManagementPages.UI.Components.Modals.EditCategories @ref="EditCategories"/>

<section class="row col-12">
    <div class="col-3 mt-1 border">
        <h2 class="text-center">talDigital Kontrolpanel</h2>
        <h5 class="text-center">Aalborg Kommune</h5>
    </div>
    <div class="col-7 mt-1 border">
        <h1 class="display-2">@InformationBoard.InformationBoardModel.Title</h1>
    </div>
    <div class="col-2 mt-1 border">
        <a class="btn btn-primary float-end" href="#" role="button"><i class="bi bi-box-arrow-right"></i> Logout</a>
        <button @onclick="() => Profile.Open()" class="btn btn-primary float-end"><i class="bi bi-person-fill"></i> Profil</button>
        <button @onclick="() => Help.Open()" class="btn btn-primary float-end"><i class="bi bi-question-circle"></i> Hjælp</button>
    </div>
    <div class="col-3">

    </div>
    <div class="col-9 border">
        <nav class="nav nav-pills flex-column flex-sm-row hoverable hover">
            @foreach (var category in InformationBoard.Categories)
            {
                <button @onclick="() => SetSelectedCategory(category)" class="btn btn-primary">
                    @if (category == InformationBoard.SelectedCategory)
                    {
                        <i class="bi bi-pencil"/>
                        @category.CategoryModel.Title
                    }
                    else
                    {
                        @category.CategoryModel.Title
                    }
                </button>
            }
            <button @onclick="() => NewCategory.Open()" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Ny kategori</button>
            <button @onclick="() => EditCategories.Open()" class="btn btn-primary"><i class="bi bi-pencil"></i> Rediger kategorier</button>
        </nav>
    </div>
</section>

@code {

    [Parameter]
    public IInformationBoardViewModel InformationBoard { get; set; }

    [Parameter]
    public EventCallback OnChangesMade { get; set; }

    private Help Help { get; set; }
    private Profile Profile { get; set; }
    private NewCategory NewCategory { get; set; }
    private EditCategories EditCategories { get; set; }

    private void SetSelectedCategory(ICategoryViewModel selectedCategory)
    {
        InformationBoard.SelectedCategory = selectedCategory;
        OnChangesMade.InvokeAsync();
    }

    private void OnChangesMadeInChildComponent()
    {
        StateHasChanged();
    }

}