

<section class="row col">
    <div class="col ps-4">
        <p class="fw-bold fs-5 border-dark border-2 border-bottom">Redaktører</p>
        <table class="table table-hover bg-white rounded">
            <tbody>
                <tr class="">
                    <td class="table-active">Test Person</td>
                    <td class="table-active">
                        <button class="btn ms-1 p-0 float-end" disabled>
                            <i class="bi bi-trash"></i>
                        </button>
                        <button class="btn ms-1 p-0 float-end" disabled>
                            <i class="bi bi-pencil"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <button class="btn btn-sm btn-primary me-0 float-end" disabled><i class="bi bi-plus-circle"></i> Tilføj ny redaktør</button>
    </div>
</section>
    

@code {

}
