@using ManagementPages.Functions
@using ManagementPages.Model
@using ManagementPages.UI.Components.Modals

<Help @ref="Help" />
<Profile @ref="Profile" />

<section class="row col mb-2 bg-white">
    <div class="col-3 mt-1 border-bottom">
        <p class="fs-2 text-center mb-0"><img src="/favicon.ico" width="32" height="32"> talDigital Kontrolpanel</p>
        <p class="fs-5 text-center">@License.LicenseDataModel.CustomerName</p>
    </div>
    <div class="col-6 mt-1 border-bottom">
        <h1 class="display-2">@License.SelectedInformationBoard.InformationBoardDataModel.Title</h1>
    </div>
    <div class="col-3 mt-3 border-bottom">
        <a class="btn btn-sm btn-light me-1 float-end" href="" role="button"><i class="bi bi-box-arrow-right"></i> Log ud</a>
        <button @onclick="() => Profile.Open()" class="btn btn-sm btn-light me-1 float-end"><i class="bi bi-person-fill"></i> Profil</button>
        <button @onclick="() => Help.Open()" class="btn btn-sm btn-light me-1 float-end"><i class="bi bi-question-circle"></i> Hjælp</button>
    </div>
</section>

@code {
    [Parameter]
    public ILicenseModel License { get; set; }

    private Help Help { get; set; }
    private Profile Profile { get; set; }
}
