@using ManagementPages.UI.Components.Modals

<Help @ref="Help"/>
<Profile @ref="Profile"/>
<EditAdmins @ref="EditAdmins"/>
<EditLicense @ref="EditLicense"/>
<LicenseStatistics @ref="LicenseStatistics"/>

<section class="row col-12">
    <div class="col-3 border">
        <h2 class="text-center">talDigital Kontrolpanel</h2>
        <h5 class="text-center">Product Owner Panel</h5>
    </div>
    <div class="col-7 border">

    </div>
    <div class="col-2 border">
        <a class="btn btn-primary float-end" href="/"><i class="bi bi-box-arrow-right"></i> Logout</a>
        <button @onclick="() => Profile.Open()" class="btn btn-primary float-end"><i class="bi bi-person-fill"></i> Profil</button>
        <button @onclick="() => Help.Open()" class="btn btn-primary float-end"><i class="bi bi-question-circle"></i> Hjælp</button>
    </div>
    
    <div class="col-10 border">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">Licens</th>
                    <th scope="col">Antal Boards</th>
                    <th scope="col">Antal Besøg</th>
                    <th scope="col">Unikke Besøg</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><button class="btn btn-outline p-0">Aalborg Kommune</button>
                        <div class="float-end">
                            <button @onclick="() => EditLicense.Open()" class="btn ms-1 p-0"><i class="bi bi-pencil"></i></button>
                            <button @onclick="() => EditAdmins.Open()" class="btn ms-1 p-0"><i class="bi bi-people-fill"></i></button>
                            <button @onclick="() => LicenseStatistics.Open()" class="btn ms-1 p-0"><i class="bi bi-bar-chart"></i></button>
                        </div>
              
                    </td>
                      <td>3</td>
                      <td>2394</td>
                      <td>903</td>
                </tr>
                <tr>
                    <td><button class="btn btn-outline p-0">Kunde 2</button>
                        <div class="float-end">
                            <button @onclick="() => EditLicense.Open()" class="btn ms-1 p-0"><i class="bi bi-pencil"></i></button>
                            <button @onclick="() => EditAdmins.Open()" class="btn ms-1 p-0"><i class="bi bi-people-fill"></i></button>
                            <button @onclick="() => LicenseStatistics.Open()" class="btn ms-1 p-0"><i class="bi bi-bar-chart"></i></button>
                        </div>
                    </td>
                    <td>3</td>
                    <td>2394</td>
                    <td>903</td>
                </tr>
                <tr>
                    <td><button class="btn btn-outline p-0">Kunde 3</button>
                        <div class="float-end">
                            <button @onclick="() => EditLicense.Open()" class="btn ms-1 p-0"><i class="bi bi-pencil"></i></button>
                            <button @onclick="() => EditAdmins.Open()" class="btn ms-1 p-0"><i class="bi bi-people-fill"></i></button>
                            <button @onclick="() => LicenseStatistics.Open()" class="btn ms-1 p-0"><i class="bi bi-bar-chart"></i></button>
                        </div>
                    </td>
                    <td>3</td>
                    <td>2394</td>
                    <td>903</td>
                </tr>
            </tbody>
        </table>
	</div>

    <NewLicense />

</section>

@code {
    private Help Help { get; set; }
    private Profile Profile { get; set; }
    private EditAdmins EditAdmins { get; set; }
    private EditLicense EditLicense { get; set; }
    private LicenseStatistics LicenseStatistics { get; set; }
}
