@using ManagementPages.Functions
@using ManagementPages.Model

@inject IDbService _dbService

<ManagementPages.UI.Components.Modals.EditPost @ref="EditPost" Category="@Category"/>
<ManagementPages.UI.Components.Modals.Delete @ref="Delete" />


<div class="col">
    @if (Category?.Posts?.Count > 0)
    {
        @foreach (var post in Category.Posts)
        {
            <div class="row me-1 mt-1 border">
                <h5>@post.PostModel.Title</h5>
                <div>
                    @post.PostModel.Text
                    <div class="float-end">
                        <button @onclick="() => EditPost.Open()" class="btn ms-1 p-0"><i class="bi bi-pencil"></i></button>
                        <button @onclick="() => Delete.Open()" class="btn p-0"><i class="bi bi-trash"></i></button>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p>Der er ingen opslag endnu...</p>
    }
</div>

@code {
    [Parameter]
    public ICategoryViewModel Category { get; set; }

    private ManagementPages.UI.Components.Modals.EditPost EditPost { get; set; }
    private ManagementPages.UI.Components.Modals.Delete Delete { get; set; }
}
