@using ManagementPages.Functions
<div class="col">
    <!-- POST 1 -->
    
    @foreach (var post in Category.Posts)
    {
        <div class="row me-1 mt-1 border">
            <h5>@post.PostModel.Title</h5>
            <div>
                @post.PostModel.Text
                <div class="float-end">
                    <a class="ms-1" href="/404"><i class="bi bi-pencil"></i></a>
                    <a class="ms-1" href="/404"><i class="bi bi-eye-fill"></i></a>
                    <a class="ms-1" href="/404"><i class="bi bi-trash"></i></a>
                </div>
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public ICategoryViewModel Category { get; set; }
}
