@using ManagementPages.Functions
@using ManagementPages.Model

@inject IDbService _dbService

<ManagementPages.UI.Components.Modals.NewPost @ref="NewPost"/>
<ManagementPages.UI.Components.Modals.Delete @ref="Delete"/>

<div class="col">
    @foreach (var post in Category.Posts)
    {
        <div class="row me-1 mt-1 border">
            <h5>@post.PostModel.Title</h5>
            <div>
                @post.PostModel.Text
                <div class="float-end">
                    <button @onclick="() => NewPost.Open()" class="btn ms-1 p-0"><i class="bi bi-pencil"></i></button>
                    <button @onclick="() => Delete.Open()" class="btn p-0"><i class="bi bi-trash"></i></button>
                </div>
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public ICategoryViewModel Category { get; set; }

    private ManagementPages.UI.Components.Modals.NewPost NewPost { get; set; }
    private ManagementPages.UI.Components.Modals.Delete Delete { get; set; }

}
