<div class="modal @ModalClass" tabindex="-1" role="dialog" style="display: @ModalDisplay">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Rediger - Aalborg Kommune</h5>
                <button @onclick="() => Close()" type="button" class="close btn btn-secondary" data-dismiss="modal" aria-label="Close">
                    <i class="bi bi-x-lg"></i>
                </button>
            </div>
            <div class="row col-12 modal-body">
                <div class="col-3">
                    <h5>Rediger navn</h5>
                    <label for="title" class="form-label">Navn på kunde</label>
                    <input type="text" class="form-control" id="title" placeholder="Aalborg Kommune">
                    <br/>
                    <label for="infoText" class="form-label">Note</label>
                    <textarea class="form-control" id="infotext" rows="3" placeholder="Aalborg kommune. Tavler rundt i hele byen."></textarea>
                    <br/>
                    <button data-dismiss="modal" class="btn btn-danger" @onclick="() => CloseDelete()"><i class="bi bi-trash"></i> Slet kunde</button>
                </div>

                <div class="col-6">
                    <h5>Informationstavler Oversigt</h5>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Informationstavler</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Sohngaardsholmparken
                                    <div class="float-end">
                                        <button class="btn ms-1 p-0" disabled><i class="bi bi-pencil"></i></button>
                                        <button class="btn ms-1 p-0" disabled><i class="bi bi-trash"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-3">
                    <h5>Tilføj informationstavle</h5>
                    <label for="title" class="form-label">Navn på informationstavlen</label>
                    <input type="text" class="form-control" id="title" placeholder="">
                    <br/>
                    <label for="title" class="form-label">Kategorier</label>
                    <br/>
                    <input type="text" class="form-control" id="title" placeholder="Kategori 1">
                    <input type="text" class="form-control" id="title" placeholder="Kategori 2">

                    <button class="btn btn-danger btn-sm mt-1"><i class="bi bi-dash-circle"></i> Slet kategori</button>
                    <button class="btn btn-success btn-sm mt-1"><i class="bi bi-plus-circle"></i> Tilføj kategori</button>
                    <br/>
                    <br/>
                    <button class="btn btn-success"><i class="bi bi-plus-circle"></i> Tilføj informationstavle</button>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => Close()">Luk og gem ikke</button>
                <button type="button" class="btn btn-success" @onclick="() => Close()">Gem</button>
            </div>
        </div>
    </div>
</div>


@if (ShowBackdrop)
{
    <div class="modal-backdrop fade show"></div>
}


@code {
    //private ManagementPages.UI.Components.Modals.Delete Delete { get; set; }

    public string ModalDisplay = "none;";
    public string ModalClass = "";
    public bool ShowBackdrop = false;

    public void Open()
    {
        ModalDisplay = "block;";
        ModalClass = "Show";
        ShowBackdrop = true;
        StateHasChanged();
    }

    public void Close()
    {
        ModalDisplay = "none";
        ModalClass = "";
        ShowBackdrop = false;
        StateHasChanged();
    }

    public void CloseDelete()
    {
        Close();
    }

}