@using ManagementPages.Functions 
@using ManagementPages.Model

@inject IDbService _dbService

<div class="modal @ModalClass" tabindex="-1" role="dialog" style="display:@ModalDisplay">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ny Kategori - @SelectedInformationBoard.InformationBoardModel.Title</h5>
                <button @onclick="() => Close()" type="button" class="close btn btn-secondary" data-dismiss="modal" aria-label="Close">
                    <i class="bi bi-x-lg"></i>
                </button>
            </div>

            <EditForm Model="NewCategoryTemp" OnValidSubmit="SaveAndClose">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="col-12 row modal-body">
                    <div class="col-6">
                        <label for="title" class="form-label">Titel</label>
                        <input type="text" class="form-control" id="title" @bind-value="NewCategoryTemp.Title">
                    </div>
                    <div class="col-6">
                        <label for="author" class="form-label">Ikon</label>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown button
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" @onclick="() => Close()">Slet</button>
                    <button type="submit" class="btn btn-secondary" data-dismiss="modal" @onclick="() => IsPublished = false">Gem som kladde</button>
                    <button type="submit" class="btn btn-success" data-dismiss="modal" @onclick="() => IsPublished = true">Gem</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>


@if (ShowBackdrop)
{
    <div class="modal-backdrop fade show"></div>
}


@code {
    [Parameter]
    public EventCallback OnChangesMade { get; set; }

    public bool IsPublished { get; set; }

    public IInformationBoardViewModel SelectedInformationBoard { get; set; } = new InformationBoardViewModel();

    public Category NewCategoryTemp = new Category();

    public string ModalDisplay = "none;";
    public string ModalClass = "";
    public bool ShowBackdrop = false;

    public void Open(IInformationBoardViewModel selectedInformationBoard)
    {
        SelectedInformationBoard = selectedInformationBoard;
        ModalDisplay = "block;";
        ModalClass = "Show";
        ShowBackdrop = true;
        StateHasChanged();
    }

    public void Close()
    {
        ModalDisplay = "none";
        ModalClass = "";
        ShowBackdrop = false;
        StateHasChanged();
    }

    public void SaveAndClose()
    {
        Close();

        // add new category to database
        SelectedInformationBoard.AddNewCategory(NewCategoryTemp, SelectedInformationBoard.InformationBoardModel.InformationBoardId, IsPublished, _dbService);

        // notify CategoryOverview about changes, so that the list of categories is re-fetched from the database (to give
        // the new category a category ID, and to update the view)
        OnChangesMade.InvokeAsync();

        // reset temporary category object
        NewCategoryTemp = new Category();
    }
}
