<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" />
    </Found>
    <NotFound>
        <LayoutView>
            <h1 class="col-10 text-center display-1 ms-0" style="color: white;">Sorry, there's nothing at this address.</h1>
        </LayoutView>
    </NotFound>
</Router>
