@page "/"
@using VisitorApp.Shared
@inject HttpClient Http

<div>
    @if (testList == null)
    {
<p><em>Loading...</em></p> }
else
{
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var test in testList)
        {
<tr>
    <td>@test.ID</td>
    <td>@test.Name</td>
    <td></td>

</tr>}
    </tbody>
</table>}
</div>


@functions
{ 
    Test[] testList;

    private Test tes { get; set; } = new Test();

    protected async override Task OnInitializedAsync()
    {
        testList = await Http.GetFromJsonAsync<Test[]>("api/Test/TestList");
    }

}