@page "/nyheder/opslag"

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css">
</head>

<section class="text-white">
	<div class="border">
		<div class="wrapper container">
			<a class="col-1 btn float-start" href="/nyheder"><i class="bi bi-arrow-left-square" style="font-size: 35px; color: white;"></i></a>
			<h1 class="col-10 text-center display-1 ms-0">Nyheder</h1>
			<div class="col-1"></div>
		</div>
	</div>
</section>

<section class="text-white m-3">
	<h1>Geden</h1>
	<p>Dato</p>
	<img src="ged.png" class="img-fluid rounded-start my-3" alt="Ged" style="max-width: 20em; max-height: 20em">
	<p>
		Geden (latin: Capra aegagrus hircus), også kaldet tamgeden, er et husdyr, der tilhører underfamilien Caprinae i familien Bovidae. Den nedstammer fra bezoargeden, der for 8000-9000 år siden var et af de første dyr, der blev domesticeret af mennesket. Geden blev brugt som trækdyr, gedeost blev fremstillet af mælken, skind og uld blev brugt til tøj, og kødet blev spist. Ulden kunne dog kun udnyttes fra de langhårede racer. I gamle dage blev også knoglerne brugt til fremstilling af forskellige redskaber.
		Geden er en firemavedrøvtygger, hvilket vil sige, at den gylper sin føde op igen for at findele den yderligere, hvorefter føden synkes til den næste mave. På den måde sikres en optimal energiudnyttelse af føden.
		En geds afkom benævnes et "kid" eller "gedekid". En kønsmoden han benævnes en "buk" ("gedebuk"), mens et hankid kaldes et "bukkekid".
	</p>
	<a href="/nyheder">Wikipedia</a>
</section>

@code {

	
}
