@page "/"

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css">
</head>

<section class="col-12 border text-white">
	<p class="display-5 text-center" id="licenseName">Sohngaardsholmsparken</p>
	<p class="text-center">En digital informationstavle</p>
</section>

<section id="categories" class="row col-12 justify-content-center text-center border">
	<a class="btn btn-outline-light square col-5 mx-1 d-flex align-items-center" href="/nyheder">
		<div class="mx-auto">
			<i class="bi bi-newspaper"></i>
			<h2>Nyheder</h2>
		</div>		
	</a>
	<div class="btn btn-outline-light square col-5 mx-1 d-flex align-items-center border">
		<div class="mx-auto">
			<i class="bi bi-flower1"></i>
			<h2>Planter</h2>
		</div>	
	</div>
	<div class="btn btn-outline-light square col-5 mx-1 d-flex align-items-center border">
		<div class="mx-auto">
			<i class="icon bi bi-calendar" style="width: 3rem; height: 3rem;"></i>
			<h2>Begivenheder</h2>
		</div>
	</div>
</section>
