@page "/"

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css">
</head>

<section class="col-12 border">
	<p class="display-5 text-center">Sohngaardsholmsparken</p>
	<p class="text-center">En digital informationstavle</p>
</section>

<section id="categories" class="row col-12 justify-content-center text-center border">
	<div class="square col-5 mx-1 border">
		<i class="bi bi-newspaper"></i>
		<br />
		<h2>Nyheder</h2>
	</div>
	<div class="square col-5 mx-1 border">
		<i class="bi bi-flower1"></i>
		<br />
		<h2>Planter</h2>
	</div>
	<div class="square col-5 mx-1 border">
		Begivenheder
	</div>
	<div class="square col-5 mx-1 border">
		<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
			<h1>Title</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
	</div>
	
</section>
