@page "/admin"
@using ManagementPages.Functions
@using ManagementPages.Model
@using ManagementPages.UI.Components

@inject IDbService dbService

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css">
</head>


<div class="container">
    <div class="row">
        <div class="col">
            <Header License="License"/>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <InformationBoardOverview License="License" OnChangesMade="OnChangesMadeInChildComponent" />
            <EditorOverview />
        </div>
        <div class="col">
            <CategoryOverview InformationBoard="License.SelectedInformationBoard" OnChangesMade="OnChangesMadeInChildComponent" />
            <PostOverview SelectedInformationBoard="License.SelectedInformationBoard" OnChangesMade="OnChangesMadeInChildComponent" />
        </div>
    </div>
</div>


@code {
    public ILicenseViewModel License { get; set; } // = new TestLicenseViewModel(123);

    public int licenseId { get; set; } = 1;

    
    protected override async Task OnInitializedAsync()
    {
        License = await dbService.InitializeLicense(licenseId);
    }

    private void OnChangesMadeInChildComponent()
    {
        StateHasChanged();
    }
}