@page "/admin"
@using ManagementPages.Functions
@using ManagementPages.Model
@using ManagementPages.UI.Components

@inject IDbService _dbService

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
</head>


<div class="container-fluid">
    <div class="row">
        <div class="col">
            <Header License="License"/>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <InformationBoardOverview License="License" OnChangesMade="OnChangesMadeInChildComponent" />
            <EditorOverview />
        </div>
        <div class="col-9">
            <CategoryOverview InformationBoard="License.SelectedInformationBoard" OnChangesMade="OnChangesMadeInChildComponent" />
            <PostOverview SelectedInformationBoard="License.SelectedInformationBoard" OnChangesMade="OnChangesMadeInChildComponent" />
        </div>
    </div>
</div>


@code {
    public ILicenseViewModel License { get; set; } = new LicenseViewModel();

    public int LicenseId { get; set; } = 1;  // hardcoded, should be passed to the admin page from the login page


    protected override async Task OnInitializedAsync()
    {
        License.LicenseModel = await License.LoadLicenseData(LicenseId, _dbService);
        License.InformationBoards = await License.LoadInformationBoards(_dbService);
    }

    private void OnChangesMadeInChildComponent()
    {
        // rerender view according to current values of properties (StateHasChanged does not re-fetch data from database,
        // this must be done explicitly when necessary)
        StateHasChanged();
    }
}