@page "/boardicons"


<div class="float-end">
    <a class="ms-1" href="/404"><i class="bi bi-pencil-square"></i></a>
    <a class="ms-1" href="/404"><i class="bi bi-eye-fill"></i></a>
    <a class="ms-1" href="/404"><i class="bi bi-qr-code"></i></a>
    <a class="ms-1" href="/404"><i class="bi bi-bar-chart"></i></a>
</div>
                
@code {

}
