@page "/"

<div>
    <h1 class="text-center mb-5 mt-5">talDigital Administration</h1>
</div>

<!--
<NavLink class="nav-link" href="mainpage">
    <div class="text-center">
        <span class="oi oi-plus" aria-hidden="true"></span>
        Tryk her
    </div>
</NavLink>
-->

<section class="row">
    <div class="col-5"></div>
    <form class="col-2">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Adgangskode</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
        <div id="emailHelp" class="form-text">Glemt adgangskode? Tryk <a href="#">her</a>.</div>
      </div>
      <a class="btn btn-primary" href="/admin" role="button">Log ind</a>
    </form>
    <div class="col-5"></div>
</section>

@code {

}
