@page "/"
@using ManagementPages.Model
@using ManagementPages.Function
@inject IDbService dbService
@inject ILicenseModel licenseViewModel

<style>
    html {
        background: rgb(5,56,107);
        background: linear-gradient(90deg, rgba(5,56,107,1) 0%, rgba(92,219,149,1) 43%, rgba(142,228,175,1) 100%);
        height: 100vh;
    }

    body {
        display: flex;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: rgba(0,0,0,0);
    }

    .form-signin {
        width: 100%;
        max-width: 500px;
        padding: 25px;
        margin: auto;
    }

    .form-signin .checkbox {
        font-weight: 400;
    }

    .form-signin .form-floating:focus-within {
        z-index: 2;
    }

    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

</style>

<main class="form-signin border rounded bg-light mt-5">
    <form>
    <h1 class="mb-5 fw-normal text-center">talDigital Administration</h1>

    <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="navn@eksempel.com">
        <label for="floatingInput">Email</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Adgangskode">
        <label for="floatingPassword">Adgangskode</label>
        <div id="emailHelp" class="form-text">Glemt adgangskode? Tryk <a href="#">her</a>.</div>
    </div>

    <div class="checkbox mb-3">
        <label>
        <input type="checkbox" value="remember-me"> Husk mig
        </label>
    </div>

    <NavLink class="nav-link px-0" href="admin">
        <button class="w-100 btn btn-lg btn-primary" role="button">Log ind Admin</button>
    </NavLink>

    <NavLink class="nav-link px-0" href="productowner">
        <button class="w-100 btn btn-lg btn-primary" role="button">Log ind Owner</button>
    </NavLink>
    <br />
    <a class="mt-5 mb-3 text-muted text-decoration-none" href="http://taldigital.dk/" target="_blank">&copy; talDigital 2021</a>
    </form>
</main>

@code {

}
