@page "/admin"
@attribute [Authorize(Roles = "Admin")]

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@*
    @UserManager.AddToRoleAsync();
*@

<h1>This is the admin page</h1>

@foreach (var user in UserManager.Users.ToList())
{
    <h1>@user</h1>
}



